.stockInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stockPrice {
}

.stockChangeInfo {
}

@media screen and (min-width: 768px) {
  .stockInfoContainer {
    gap: 3.5rem;
  }
}
