:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 22px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.positive-change {
  color: #6ff586;
}

.negative-change {
  color: #f34b4b;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkBtnContainer {
  width: 60%;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
}

@media screen and (min-width: 375px) {
  .linkBtnContainer {
    width: 100%;
  }
  html {
    font-size: 16px;
  }

  .title {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 768px) {
  .app-container {
    max-width: 752px;
    margin: 0 auto;
  }
}
