.container {
  color: #fff;
  padding: 1rem 0.5rem;
  text-align: center;
}

.spinnerContainer {
  margin-top: 2rem;
}

.emptyListContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}
