.container {
  color: #fff;
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyListContainer,
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.emptyListContainer {
  gap: 1rem;
}

.listContainer {
  height: 79vh;
  justify-content: space-between;
}

#listIcon {
  color: #141515;
  height: 10rem;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 576px) {
  #listIcon {
    height: 14rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 5rem;
  }

  #listIcon {
    height: 20rem;
  }
}
