.container {
  background-color: #141515;
  margin: 0.3rem;
  padding: 15px;
  border-radius: 0.3rem;
  font-weight: 500;
  max-width: 100%;
  font-size: 1.5rem;
}

.containerWithoutChange,
.containerWithChange {
  display: flex;
  align-items: center;
}

.containerWithoutChange {
  justify-content: center;
  gap: 0.5rem;
}

.containerWithChange {
  justify-content: space-between;
}

#backIcon {
  color: #6ff586;
}

.negativeChange {
  color: #f34b4b;
}

@media screen and (min-width: 576px) {
  .container {
    height: 3rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    height: 3.5rem;
  }
}
