.container {
  background-color: #141515;
  margin: 0.3rem;
  padding: 0.7rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
}

.containerWithoutChange {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 0.5rem;
}

.containerWithChange {
  display: flex;
  justify-content: space-between;
}

.positiveChange,
#backIcon {
  color: #6ff586;
}

.negativeChange {
  color: #e92020;
}
