.container {
  background-color: #141515;
  margin: 0.3rem;
  padding: 0.7rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
  align-items: center;
}

.containerWithoutChange {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 0.5rem;
}

.containerWithChange {
  display: flex;
  justify-content: space-between;
}

#backIcon {
  color: #6ff586;
}

.negativeChange {
  color: #f34b4b;
}

@media screen and (min-width: 576px) {
  .container {
    height: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    height: 3.5rem;
  }
}
