.container {
  color: #fff;
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  max-width: 20vw !important;
  margin: 0 auto;
}

.stockContainer {
  margin-top: 1rem;
}

@media screen and (min-width: 300px) {
  .container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 375px) {
  .container {
    text-align: left;
    max-width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 5rem;
    height: 80vh;
  }
}
